<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>homebrew.mxcl.php55</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/Cellar/php55/{{ php_full_version.stdout_lines[0] }}/sbin/php-fpm</string>
    <string>--fpm-config</string>
    <string>/usr/local/etc/php/5.5/php-fpm.conf</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>LaunchOnlyOnce</key>
  <true/>
  <key>UserName</key>
  <string>sebastian</string>
  <key>WorkingDirectory</key>
  <string>/usr/local/var</string>
  <key>StandardErrorPath</key>
  <string>/usr/local/Cellar/php55/{{ php_full_version.stdout_lines[0] }}/var/log/php-fpm.log</string>
</dict>
</plist>
