INSTALLATION INSTRUCTIONS
=========================

In order to clone the provided git repository, run: 

  git init; git remote add origin {{ repo }}; git fetch origin; git checkout -b master origin/master; {{ additional_install_steps |  default('') }}